.MainContent
  %ul.MainContent__BtnList
    %li.BtnPlace
      = link_to root_path, class: "Btn" do
        = icon('fas', 'paste', class: "LinkIcon")
        トップページ
    %li.BtnPlace
      = link_to character_index_path, class: "Btn" do
        = icon('fas', 'user-circle', class: "LinkIcon")
        キャラクター
    %li.BtnPlace
      = link_to creater_index_path, class: "Btn" do
        = icon('fas', 'handshake', class: "LinkIcon")
        協力者
    %li.BtnPlace
      = link_to "https://www.youtube.com/channel/UCP1SpLY8Egg7sWwGjUk-Jdg", class: "Btn" do
        = icon('fab', 'youtube', class: "LinkIcon")
        YouTube
    %li.BtnPlace
      = link_to root_path, class: "Btn" do
        = icon('fas', 'fas fa-envelope', class: "LinkIcon")
        コンタクト
  .MainContent__Title__LastInfo
    ⭐️最新作情報⭐️
  .MainContent__Youtube
    %iframe{src: "https://www.youtube.com/embed/mkURmbw_wnY",allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "500", width: "90%"}
  .MainContent__Title
    = image_tag("/images/line_747578082184715.jpg", width: '30%', height: '60%', alt: "画像")
  .MainContent__Introduction
    10年の時を経て、押入れの中から目覚めた少年「ジェム」が、
    %br
    %br
    テレビやマンガ、ゲームで活躍しているヒーローと共に
    %br
    %br
    大切なもの「ラビ」を助け出すため立ち向かう
    %br
    %br
    新感覚ストップモーションアニメです。
  .MainContent__Title
    = image_tag("/images/line_747582797250130.jpg", width: '30%', height: '60%', alt: "画像")
  .MainContent__Introduction__Plus
    Gem's HERO（本編）の番外編。
    %br
    オリジナルキャラクターのみで繰り広げられる
    %br
    あついストーリーが見られます。
    %br
    コラボムービーなどもこちらから！！
  .MainContent__Boad
    -# = link_to('name', {})
    .MainContent__Boad__Logo
      = image_tag("/images/line_747590029969555.jpg", width: '100%',height: '100%', alt: "画像")
    .MainContent__Boad__Text
      制作情報
      %br
      %span（ほぼ）
      毎日更新！！
      %br
      .MainContent__Boad__Text__Twitter
        ジェムズヒーロー 公式ツイッター
      .MainContent__Boad__Text__TwitterLink
        =link_to "https://twitter.com/GemsHero_info?ref_src=twsrc%5Etfw", class: "twitter-timeline", width: "2000", height: "500" do
          %script{async: true, await: true, src: "https://platform.twitter.com/widgets.js", class: "twitter-"}
